<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find twolink_control)/config/twolink_control.yaml" 
    command="load"/>

  <!-- Load the controllers 
  Note that the joint state controller is necessary for publishing 
  to /tf rviz etc!-->
  <node 
    name="controller_spawner" pkg="controller_manager" type="spawner" 
    respawn="false" output="screen" ns="/twolink" args="
    joint_state_controller
    joint_1_effort_controller 
    joint_2_effort_controller 
    "/>

    <!-- Load the controllers 
  Note that the joint state controller is necessary for publishing 
  to /tf rviz etc!>
  <node 
    name="controller_spawner" pkg="controller_manager" type="spawner" 
    respawn="false" output="screen" ns="/twolink" args="
    joint_state_controller
    joint_1_position_controller 
    joint_2_position_controller 
    "/-->

  <!-- convert joint states to TF transforms for rviz, etc 
  Note that we use a namespace for the state publisher and 
  a remapping -->
  <node 
    name="robot_state_publisher" pkg="robot_state_publisher" 
    type="robot_state_publisher" ns="/twolink"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/twolink/joint_states" />
  </node>
 
</launch>
